@import "tailwindcss";

@theme{
    --color-main: oklch(20% 0.012 240);
    --color-surface: oklch(26% 0.015 240);
    --color-text: oklch(88% 0.012 80);
    --color-muted: oklch(65% 0.018 240);
    --color-accent: oklch(72% 0.075 160);
    --color-highlight: oklch(78% 0.080 85);
}